body {
    font-family: 'Merriweather', serif;
    margin: 0;
    padding: 0;
}

.logo {
    width: 100%;
    height: 75%;
    transition: all .3s ease-in-out;
}

.sticky {
    position: fixed;
    width: 100%;
    top: 0;
    height: 3rem;
    z-index: 3;
    transition: all .3s ease-in-out;
    box-shadow: 0px -3px 21px -2px rgba(0, 0, 0, 0.67);
    -webkit-box-shadow: 0px -3px 21px -2px rgba(0, 0, 0, 0.67);
    -moz-box-shadow: 0px -3px 21px -2px rgba(0, 0, 0, 0.67);
}

.logo-image {
    margin-top: -1rem;
    width: 80%;
    transition: all .3s ease-in-out;
}

header {
    background-color: white;
    height: 5rem;
    transition: all .3s ease-in-out;
}

nav {
    margin-top: -4.5rem;
    transition: all .3s ease-in-out;
}

.dropdown-menu {
    border-color: green;
    font-size: .85rem;
}

.dropdown-item:hover {
    background-color: rgb(229, 253, 222);
}

.carousel-block .image-slider {
    width: 100vw;
    height: 60vh;
}

.quality-section {
    color: green;
    background-image: url('https://static.bhphoto.com/images/images2000x2000/1292836852_562131.jpg');
}

.accroche {
    border-radius: 5px;
    background-color: rgb(240, 240, 236);
}

.quality-section h3 {
    font-size: 1.6rem;
    color: rgb(80, 75, 75) !important;
}

.quality-section p, .num {
    color: black !important;
}

.quality-section i {
    font-size: 2.5rem;
}

.project i {
    color: #29BC4E;
    font-size: 2rem;
}

.num {
    font-size: 3rem;
    margin-bottom: 10px;
}

.cards {
    border: none;
    cursor: pointer;
    transition: all .2s ease-out;
    width: 15rem;
}

.cards a {
    color: black;
}

.line {
    width: 40%;
}

.actualite::before {
    content: '';
    width: 40%;
    height: 3px;
    position: absolute;
    top: 85%;
    background-color: green;
    border-radius: 10%;
}

.actualite::after {
    content: '';
    width: 50%;
    height: .8px;
    position: absolute;
    top: 90%;
    background-color: green;
}

.cards:hover {
    transform: translateY(-7px);
    transition: all .2s ease-in-out;
}

.cards:hover .card-img-top {
    opacity: .9;
    transition: all .2s ease-in-out;
}

.cards .card-img-top {
    height: 8.5rem;
}

.cards .card-text {
    text-overflow: clip;
}

.menu-lang {
    width: 1px;
    height: 5px;
}

.carousel-control-next {
    position: absolute;
    top: -30%;
    width: 50px;
    height: 80px;
}

.carousel-control-next {
    position: absolute;
    top: -12%;
    width: 25px;
    height: 30px;
}

.carousel-control-next #carousel-control-next-icon {
    position: absolute;
    top: -11%;
    width: 25px;
    height: 25px;
    background-color: green;
    right: 12px;
}

.carousel-control-prev {
    position: absolute;
    top: -12%;
    left: 95%;
    width: 25px;
    height: 30px;
}

.carousel-control-prev #carousel-control-prev-icon {
    position: absolute;
    top: -11%;
    width: 25px;
    height: 25px;
    background-color: green;
    right: 12px;
}

footer {
    color: rgb(173, 180, 173);
    background-image: url('https://coolbackgrounds.io/images/backgrounds/black/black-radial-gradient-6b237e4d.jpg');
    padding: 2%;
}

footer li {
    list-style-type: none;
}

footer a {
    color: rgb(173, 180, 173);
}

footer li a {
    color: rgb(173, 180, 173);
    ;
}

footer a:hover {
    color: rgb(118, 240, 126);
    text-decoration: none;
}

footer li a:hover {
    text-decoration: none;
    color: rgb(118, 240, 126);
}

.footer-line {
    width: 50%;
    background-color: rgb(173, 180, 173);
}

.copyright {
    background-color: rgb(14, 15, 14);
    height: 2%;
    padding-left: 2%;
    color: rgb(75, 144, 79);
}

.copyright .col-md-2 {
    color: rgb(173, 180, 173);
}

.follow {
    display: flex;
    flex-direction: row;
}

.follow a i {
    color: rgb(75, 144, 79);
}

.map-container-6 {
    overflow: hidden;
    padding-bottom: 56.25%;
    position: relative;
    height: 0;
}

.map-container-6 iframe {
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    position: absolute;
}

/* Presentation Area*/

.space {
    margin: 4rem;
}


#pills-tab .active {
    background-color: #29BC4E;
}

#pills-tab .nav-link {
    color: black;
}
.tab-content {
    padding: 1px 0 0 5px;
}

.tab-pane>li {
    list-style-type: none;
}

/* EDD Area*/

#accordionExample .btn-link {
    color: #3E475B;
}

#accordionExample button:hover {
    text-decoration: none;
}

.edd1 {
    padding: 1rem;
    background-color: rgb(126, 250, 136);
}

.card-chiffre {
    box-shadow: 1px 2px 5px -2px rgba(0, 0, 0, 0.97);
    -webkit-box-shadow: 1px 2px 5px -2px rgba(0, 0, 0, 0.97);
    -moz-box-shadow: 1px 2px 5px -2px rgba(0, 0, 0, 0.97);
    background-color: rgb(225, 250, 238);
    height: 18rem;
}

.card-chiffre i {
    color: rgb(8, 78, 25);
}

/* Réalisation Area*/

.realisation {
    padding: 1rem;
    background-color: rgb(247, 245, 253);
}

/* Personnel Area*/

.profile .card {
    padding: 0;
    font-size: .9rem;
    box-shadow: 1px 2px 11px -9px rgba(0, 0, 0, 0.4);
    -webkit-box-shadow: 1px 2px 11px -9px rgba(0, 0, 0, 0.4);
    -moz-box-shadow: 1px 2px 11px -9px rgba(0, 0, 0, 0.4);
}

.profile .card i {
    color: #29BC4E;
}

.profile a:hover {
    text-decoration: none;
    color: #29BC4E;
}

.card .card-img-top {
    margin-top: -2rem;
    width: 7rem;
    border-radius: 50%;
    border: 1px solid green;
}

/* Partenaires Area*/

.partenaire {
    padding: 1rem;
    background-color: rgb(247, 245, 253);
}

.img-partenaire {
    width: 8rem;
}

/* TDI Area*/

.tdi {
    padding: 1rem;
    background-color: rgb(245, 212, 212);
}

/* Hgep Area*/

.hgep {
    padding: 1rem;
    background-color: rgb(187, 192, 202);
}

/* Lgp Area*/

.lgp {
    padding: 1rem;
    background-color: beige;
}

/* Contact Area*/

.contact, .presentation, .personnel,.materiel {
    padding: 1rem;
    background-color: rgb(247, 245, 253);
}

@media (max-width: 575.98px) {}

@media (max-width: 767.98px) {
    .navbar-toggler {
        margin-left: 45rem;
        margin-top: -5px;
    }
    .carousel-control-next {
        position: absolute;
        top: -12%;
        width: 25px;
        height: 30px;
        display: none;
    }
    .carousel-control-next #carousel-control-next-icon {
        position: absolute;
        top: -12%;
        width: 25px;
        height: 30px;
        background-color: aquamarine;
        display: none;
    }
    .carousel-control-prev {
        position: absolute;
        top: -12%;
        left: 55%;
        width: 25px;
        height: 30px;
        display: none;
    }
    .carousel-control-prev #carousel-control-prev-icon {
        position: absolute;
        top: -12%;
        width: 25px;
        height: 30px;
        background-color: aquamarine;
        display: none;
    }
    .actualite::after {
        content: '';
        width: 100%;
        height: .8px;
        position: absolute;
        top: 95%;
        background-color: aquamarine;
        display: none;
    }
    .sticky {
        position: fixed;
        width: 100%;
        top: 0;
        height: 7%;
        z-index: 3;
        transition: all .3s ease-in-out;
        display: none;
    }
    .logo-image {
        margin-top: -1rem;
        width: 95%;
        height: 80%;
        transition: all .3s ease-in-out;
        display: none
    }
}

@media (max-width: 991.98px) {
    .logo {
        width: 100%;
        height: 75%;
        transition: all .3s ease-in-out;
    }
    .sticky {
        position: fixed;
        width: 100%;
        top: 0;
        height: 7%;
        z-index: 3;
        transition: all .3s ease-in-out;
        display: none;
    }
    .logo-image {
        margin-top: -1rem;
        width: 95%;
        height: 80%;
        transition: all .3s ease-in-out;
    }
    header {
        background-color: white;
        transition: all .3s ease-in-out;
    }
    .navbar-toggler {
        margin-left: 38rem;
        margin-top: -10px;
    }
    nav {
        font-size: .8rem;
        margin-top: -3.3rem;
        transition: all .3s ease-out;
    }
    .dropdown-menu {
        border-color: aquamarine;
        font-size: .85rem;
    }
    .dropdown-item:hover {
        background-color: aquamarine;
    }
    .carousel-block {
        width: 100%;
        height: auto;
    }
    .quality-section {
        font-size: .8rem;
        background-color: aquamarine;
    }
    .quality-section p {
        color: black !important;
    }
    .num {
        font-size: 2.5rem;
        margin-bottom: 5px;
    }
    .card {
        border: none;
        cursor: pointer;
        transition: all .2s ease-out;
        width: 5rem;
    }
    .line {
        width: 40%;
    }
    .actualite::before {
        content: '';
        width: 40%;
        height: 5px;
        position: absolute;
        top: 85%;
        background-color: aquamarine;
        border-radius: 30%;
    }
    .actualite::after {
        content: '';
        width: 100%;
        height: .8px;
        position: absolute;
        top: 95%;
        background-color: aquamarine;
    }
    .card:hover {
        transform: rotate(1deg);
        transition: all .2s ease-in-out;
        -webkit-box-shadow: -1px -4px 15px -5px rgba(0, 0, 0, 0.84);
        -moz-box-shadow: -1px -4px 15px -5px rgba(0, 0, 0, 0.84);
        box-shadow: -1px -4px 15px -5px rgba(0, 0, 0, 0.84);
    }
    .menu-lang {
        width: 1px;
        height: 5px;
    }
    .carousel-control-next {
        position: absolute;
        top: -30%;
        width: 50px;
        height: 80px;
    }
    .carousel-control-next {
        position: absolute;
        top: -12%;
        width: 25px;
        height: 30px;
    }
    .carousel-control-next #carousel-control-next-icon {
        position: absolute;
        top: -12%;
        width: 25px;
        height: 30px;
        background-color: aquamarine;
    }
    .carousel-control-prev {
        position: absolute;
        top: -12%;
        left: 55%;
        width: 25px;
        height: 30px;
    }
    .carousel-control-prev #carousel-control-prev-icon {
        position: absolute;
        top: -12%;
        width: 25px;
        height: 30px;
        background-color: aquamarine;
    }
    footer {
        font-size: .9rem;
        background-color: #3E475B;
    }
    .footer-line {
        width: 60%;
        background-color: white;
    }
    .copyright {
        background-color: #29BC4E;
        height: 5%;
        font-size: .9rem;
    }
}

@media (max-width: 1199.98px) {
    .navbar-toggler {
        margin-left: 35rem;
    }
    .logo {
        width: 100%;
        height: 65%;
        transition: all .3s ease-in-out;
    }
    .sticky {
        position: fixed;
        width: 100%;
        top: 0;
        height: 7%;
        z-index: 3;
        transition: all .3s ease-in-out;
    }
    .logo-image {
        margin-top: -1rem;
        width: 95%;
        height: 80%;
        transition: all .3s ease-in-out;
    }
    header {
        background-color: white;
        height: 4rem;
        transition: all .3s ease-in-out;
    }
    nav {
        font-size: .8rem;
        margin-top: -3.7rem;
        transition: all .3s ease-out;
    }
    .dropdown-menu {
        border-color: aquamarine;
        font-size: .85rem;
    }
    .dropdown-item:hover {
        background-color: aquamarine;
    }
    .carousel-block {
        width: 100%;
        height: auto;
    }
    .quality-section {
        font-size: .8rem;
        background-color: aquamarine;
    }
    .quality-image {
        width: 20%;
        margin-left: 1.8rem;
    }
    .num {
        font-size: 2.5rem;
        margin-bottom: 5px;
    }
    .card {
        border: none;
        cursor: pointer;
        transition: all .2s ease-out;
        font-size: .9rem;
        width: 13rem;
    }
    .line {
        width: 40%;
    }
    .actualite::before {
        content: '';
        width: 40%;
        height: 5px;
        position: absolute;
        top: 85%;
        background-color: aquamarine;
        border-radius: 30%;
    }
    .actualite::after {
        content: '';
        width: 100%;
        height: .8px;
        position: absolute;
        top: 95%;
        background-color: aquamarine;
    }
    .card:hover {
        transform: rotate(1deg);
        transition: all .2s ease-in-out;
        -webkit-box-shadow: -1px -4px 15px -5px rgba(0, 0, 0, 0.84);
        -moz-box-shadow: -1px -4px 15px -5px rgba(0, 0, 0, 0.84);
        box-shadow: -1px -4px 15px -5px rgba(0, 0, 0, 0.84);
    }
    .card .card-img-top {
        height: 13rem;
    }
    .menu-lang {
        width: 1px;
        height: 5px;
    }
    .carousel-control-next {
        position: absolute;
        top: -30%;
        width: 50px;
        height: 80px;
    }
    .carousel-control-next {
        position: absolute;
        top: -12%;
        width: 25px;
        height: 30px;
    }
    .carousel-control-next #carousel-control-next-icon {
        position: absolute;
        top: -12%;
        width: 25px;
        height: 30px;
        background-color: aquamarine;
    }
    .carousel-control-prev {
        position: absolute;
        top: -12%;
        left: 93%;
        width: 25px;
        height: 30px;
    }
    .carousel-control-prev #carousel-control-prev-icon {
        position: absolute;
        top: -12%;
        width: 25px;
        height: 30px;
        background-color: #E1DEE9;
    }
    footer {
        font-size: .9rem;
        background-color: #3E475B;
    }
    .footer-line {
        width: 60%;
        background-color: white;
    }
    .copyright {
        background-color: #29BC4E;
        height: 5%;
        font-size: .9rem;
    }
}

.map-container-6 {
    overflow: hidden;
    padding-bottom: 56.25%;
    position: relative;
    height: 0;
}

.map-container-6 iframe {
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    position: absolute;
}